<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style/css/style.css">
    <title>Veille - TP2</title>
  </head>
  <body>
    <section>
      <h1>TP2</h1>
        <form action="/ajouter" method="POST">
          <input type="text" placeholder="Nom" name="nom">
          <input type="text" placeholder="Prénom" name="prenom">
          <br/>
          <input type="text" placeholder="Téléphone" name="telephone">
          <br/>
          <button type="submit">Submit</button>
        </form>
    </section>
  </body>
</html>